*{
    margin: 1%;           
}
body{
    background-color: antiquewhite;
}
.text-grite{
      font-weight: bold;
      color: blue;

}
p{
           
}
.text-col{
        font-weight: bold;       
        margin: 0%;
        color: darkviolet;
}