.header{
     background-color: cyan;
     float: left;
     height: 44px;
     width: 100%;

}
.sidebar{
       float: left;
       width:29%;
       height: 400px;        
       background-color: darkorange;       
}
.content{
        float: left;
        width:78%;
        height: 400px;        
        background-color: rgb(253, 6, 129);       
        
}
.footer{
        float: left;
        width:78%;
        height: 400px;        
        background-color: darkslategray;
}
.box{
     width: 120px;
     height: 120px;
     background-color: green;   
     margin: 8px;
     float:  left;
        
}